@font-face {
    font-family: comfortaa;
    src: url(../fonts/Comfortaa-Regular.ttf);
}

body {
    font-family: comfortaa, sans-serif;
}

div {
	border-radius: 15px;
}

.larger {
    font-size: 100px;
}

.smaller {
    font-size: 15px;
}

.movedUp {
    position: relative;
    bottom: 55px;
}

#loginLogo {
    height: 0px;
    position: relative;
    z-index: -1;
    top: -40px;
    right: 38px;
}

#loginLogo img {
    max-width: 100%;
}

#loginBox {
	width: 550px;
	font-size: 30px;
	margin: 50px auto;
}

#loginHeader {
    font-size: 55px;
    color: black;
    text-align: center;
    text-shadow: 3px 3px 10px #ffffff;
    height: 245px;
}

#formWrapper {
    padding: 5px 0px;
    margin: 20px 0px;
    border: solid lightgrey 1px;
    box-shadow: 1px 1px 50px black;
}

.foundationForm {
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 15px;
    font-size: 30px;
    font-family: comfortaa, sans-serif;
    max-width: 500px;
}

input:disabled {
    opacity: 0.25;
    cursor: not-allowed;
}

.foundationForm input {
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    padding: 2px;
}

.foundationForm label {
    font-size: 20px;
}

.frontPageForm {
    width: 40%;
}

.frontPageForm input {
    font-size: 14px;
    padding: 2px;
}

.frontPageForm label {
    color: white;
}

.frontPageForm a {
    color: lightsteelblue;
}

.customButton {
    width: 50%;
    font-family: comfortaa;
    font-size: 17px !important;
    padding: 8px 2px !important;
    margin-top: 30px;
    box-shadow: 3px 3px 15px;
    cursor: pointer;
    transition: opacity 1s;
    max-width: 250px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    overflow: auto;
}

#loginForm {
    background-color: #24394c;
    float: left;
}

#registerForm {
    background-color: #1f441f;
    float: right;
}

.registrationFormError p {
    color: white;
    margin: 0px;
    font-size: 50%;
    font-family: sans-serif;
    border-bottom: white groove 2px;
    padding: 5px;
}

.connection {
    font-size: 19px;
}

.clear {
    clear: both;
}

#adminRegister {
    width: 90%;
    margin: 20px auto;
    font-size: 20px;
    font-family: sans-serif;
    border-color: orange;
    border-style: groove;
    border-width: 4px;
    padding: 10px;
    box-shadow: 2px 2px 10px black;
}

#databaseStatus {
    font-size: 25px;
    border-color: #478dca;
    border-style: groove;
    border-width: 4px;
    padding: 20px 20px 25px;
    box-shadow: 2px 2px 10px black;
}

#databaseStatus p {
    margin-bottom: 5px;
    margin-top: 5px;
}

#response {
	font-size: 15px;
	font-family: sans-serif;
}

.roundBox {
    max-width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    border-style: groove;
    border-width: 4px;
    padding: 10px 20px;
    box-shadow: 2px 2px 10px black;
}

.widerBox {
    max-width: 95%;
}

.errorBox {
    border-color: red;
}

.successBox {
    border-color: skyblue;
}

.warningBox {
    border-color: orange;
}

.neutralBox {
    border-color: grey;
}

.roundBox h1 {
    font-family: comfortaa;
    margin-top: 10px;
}

#passwordChangeForm {
    background-color: #385063;
}

#passwordChangeForm label {
    color: white;
}

#passwordResetForm {
    background-color: darkcyan;
}

#passwordResetForm label {
    color: white;
}

#emailChangeForm {
        background-color: dimgrey;
}

#emailChangeForm label {
        color: white;
}

#nameChangeForm {
    background-color: darkolivegreen;
}

#nameChangeForm label {
    color: white;
}

#deleteAccountForm {
    background-color: #790000;
}

#deleteAccountForm label {
    color: white;
}

.adminForm {
    background-color: #3a3a3a;
}

.adminForm label {
    color: white;
}

.ajaxErrorMessage {
    background-color: darkred;
    padding: 10px;
    color: white;
    box-shadow: 2px 2px 10px black;
    margin: 15px 0px;
    font-family: comfortaa;
    visibility: hidden;
}

.dashboardButton {
    font-size: 20px;
    font-weight: bold;
    color: brown;
    background: whitesmoke;
    border-radius: 10px;
    border: solid grey 2px;
    padding: 5px 10px;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
    margin-bottom: 15px;
}

.collapsible {
    overflow: auto;
    transition: height 2s;
}

.hideable {
    display: none;
}

.bigSubmit {
    font-family: comfortaa, sans-serif;
    font-size: 30px;
    padding: 10px 15px;
    float: right;
}

.largerButton {
    font-size: 18px;
    padding: 10px 15px;
}

#manage-a-user-view {
    background-color: white;
    display: none;
}

table {
    border: solid darkgrey 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

thead {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

td {
    padding: 10px;
    border: white solid 1px;
}

#userSearchData {
    font-family: sans-serif;
    color: white;
    font-size: 18px;
}

.darkRedHighlight {
    background-color: darkred;
}

.userViewColumn {
    float: left;
    width: 250px;
    margin: 5px;
    border: solid black 2px;
    padding: 10px;
}

#userViewGroups img {
    float: right;
    position: relative;
    bottom: 12px;
    margin: 5px 0px;
    cursor: pointer;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
}

#configForm h5 {
    margin: 10px 0px;
    color: white;
    font-size: 23px;
}

@keyframes rotate {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

img.spinner {
    max-width: 50px;
    animation-name: rotate;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition: opacity 1s;
}

#globalSpinner {
    position: fixed;
    top: 20px;
    right: 25%;
    max-width: 250px;
}

.warning {
    color: red;
}

@media (max-width: 900px) {
	#loginBox {
		width: 500px;
	}

    #loginHeader {
        height: 220px;
    }

    .frontPageForm input {
        font-size: 12px;
    }

    .frontPageForm {
        width: 39%;
    }
}

@media (max-width: 750px) {
	#loginBox {
		width: 400px;
	}

    .larger {
        font-size: 75px;
    }

    .movedUp {
        position: relative;
        bottom: 58px;
        right: 26px;
    }

    #loginLogo {
        top: -25px;
        right: 15px;
    }

    #loginHeader {
        height: 185px;
    }

    .frontPageForm {
        width: inherit;
    }

    .frontPageForm input {
        font-size: 17px;
    }

    #loginForm, #registerForm {
        float: none;
    }

}

@media (max-width: 450px) {

    .larger {
        font-size: 50px;
    }

    .smaller {
        font-size: 10px;
    }

    .movedUp {
        position: relative;
        bottom: 45px;
        right: 20px;
    }

    #loginLogo {
        top: -16px;
        right: 5px;
    }

	#loginBox {
		width: 280px;
		font-size: 20px;
	}

	#loginHeader {
		font-size: 45px;
        height: 135px;
	}

    .frontPageForm {
        width: inherit;
    }

    #loginForm, #registerForm {
        float: none;
    }

	#loginForm input, #registerForm input {
		font-size: 12px;
	}

	#databaseStatus {
		font-size: 20px;
	}

	#response {
		font-size: 10px;
	}

    .foundationForm input {
        font-size: 14px;
    }

    #admin-dashboard-box div {
        width: 85%;
        overflow: auto;
    }

    #admin-dashboard-box input {
        font-size: 11px;
    }

    #userSearchData {
        font-size: 10px;
    }

    .ajaxErrorMessage {
        font-size: 20px;
    }

}